body{
 font-family: Helvetica;
}
h1{
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
}
h3{
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.brushes h3{
  background-color: mediumspringgreen;
}
.frames h3{
  background-color: lightcoral;
}
.paint h3{
  background-color: skyblue;
}
.a,
.b,
.c{
  color:blue;
}
h4{
  font-weight: bold;
  font-size: 23px;

}
